<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:title="#{title}"></title>
    <meta charset="UTF-8"/>
</head>
<body>
<table>
    <tbody>
    <tr>
        <td th:text="#{bitbucket.data.me.username.text}"></td>
        <td th:text="${param.username[0]}"></td>
    </tr>

    <tr>
        <td th:text="#{bitbucket.data.me.first_name.text}"></td>
        <td th:text="${param.firstName[0]}"></td>
    </tr>


    <tr>
        <td th:text="#{bitbucket.data.me.last_name.text}"></td>
        <td th:text="${param.lastName[0]}"></td>
    </tr>

    <tr>
        <td th:text="#{bitbucket.data.me.repositories_count.text}"></td>
        <td th:text="${param.repositoriesCount[0]}"></td>
    </tr>

    </tbody>
</table>

</body>
</html>