<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:title="#{title}"></title>
    <meta charset="UTF-8"/>
</head>
<body>



<p id="text1" th:text="${param.dataJSON}"></p>
<script th:inline="javascript">
    document.getElementsById("text1").text = "New2";
    var data = [[${param.dataJSON[0]}]];
    function TOJSON() {
        var JSONView = JSON.stringify(data, null, 2);
        document.getElementById("text1").innerHTML = "New Text";//JSONView;

    }
    </script>
<!--<h1 id="text2" th:text="${data2}"></h1>-->
<pre id="json"></pre>
<p th:text="123">Test</p>

</body>
</html>