<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:title="#{title}"></title>
    <meta charset="UTF-8"/>
</head>
<body>
<h1 style="text-align: center" th:text="#{result.comment}"></h1>
<img src="/icons/Albrecht.png" width="512" height="512"/>
<p th:text="oauth_token_secret">Test</p>
<p th:text="${param.oauth_token_secret[0]}" th:unless="${param.oauth_token_secret == null}">Test</p>
<p th:text="oauth_token">Test2</p>
<p th:text="${param.oauth_token[0]}" th:unless="${param.oauth_token == null}">Test2</p>
<p th:text="#{result.personalDataInfo}">Test3</p>
<p th:text="#{result.personalDataURL}"></p>
<p th:text="#{result.postDataInfo}">Test4</p>
<p th:text="#{result.postDataURL}"></p>
</body>
</html>